<div class="container mt-5">
    <article class="row">
        <section class="col-sm-6 d-flex text-white justify-content-center align-items-center">
            <div>
                <h1 class="title">Bienvenido a MexArc</h1>
                <p class="my-3 fs-5">La plataforma donde podras conocer sobre todas las Zonas Arqueológicas
                    de México. ¿Estas Listo?... ¡A darle!
                </p>
                <a class="btn btn-primary rounded-pill">Conocer más...</a>
            </div>
        </section>
        <section class="col-sm-6">
            <div class="bg-primary map">a</div>
        </section>
    </article>
</div>